<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quiz on Vue.js</title>

    <link rel="stylesheet" href="/vendor/public/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.min.css">
</head>
<body>
<section id="quiz">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>{{ quizTitle }}</h1>
            </div>
            <div class="quiz mt-4">
                <div v-if="currentQuestion.length !== 0" class="quiz__question">
                    <div class="quiz__question-head">
                        <h3 class="quiz__question-title">{{ currentQuestion.title + currentQuestion.type }}</h3>
                        <p class="quiz__question-subtitle">{{ currentQuestion.type === 'single' ? 'Choose one answer' : 'Choose few answers' }}</p>
                    </div>
                    <div class="quiz__question-answers">
                        <div v-for="(answer, i) in currentQuestion.answers" class="form-check">
                            <input class="form-check-input" :type="currentQuestion.type === 'multiple' ? 'checkbox' : 'radio'" :name="'question-'+currentQuestion.id" :id="'answer-'+currentQuestion.id+'-'+answer.id" :value="answer.id" @change="toggleAnswer(answer.id)" v-bind:checked="answer.isChecked">
                            <label class="form-check-label" :for="'answer-'+currentQuestion.id+'-'+answer.id">
                                {{ answer.value }}
                            </label>
                        </div>
                    </div>
                    <div class="quiz__question-footer">
                        <button class="btn btn-primary" @click="applyAnswer()">Next question</button>
                    </div>
                    <div v-if="this.error" class="alert alert-danger">{{ this.error }}</div>
                </div>
                <div v-else class="quiz__end">
                    <h3 class="quiz__end-title">Well done!</h3>
                    <div class="quiz__end-summary">
                        <div class="quiz__end-summary-caption">Your score:</div>
                        <div class="quiz__end-summary-value">{{ totalScore }}/{{ quizQuestions.length }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="/vendor/public/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://unpkg.com/vue@next"></script>
<script src="/assets/js/quiz.js"></script>

</body>
</html>