body{
  background-color: DarkSlateGray;
}
section{
  max-width: 900px;
  margin: 100px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
  label{
    display: block;
  }
}

.list{
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  &__item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    &-danger{
      background-color: #fff1f1;
    }
    .bold{
      font-weight: bold;
    }
  }
}