body {
  background-color: DarkSlateGray;
}
section {
  max-width: 900px;
  margin: 100px auto;
  padding: 40px;
  background-color: white;
  border-radius: 10px;
}
section label {
  display: block;
}
.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.list__item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.list__item-danger {
  background-color: #fff1f1;
}
.list__item .bold {
  font-weight: bold;
}
.todo {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 30px;
}
.todo__list {
  display: flex;
  flex-direction: column;
  grid-row-gap: 10px;
}
.todo__list-item {
  display: grid;
  grid-template-columns: 30px 1fr 140px;
  align-items: center;
  grid-column-gap: 10px;
}
.todo__list-item-checkbox {
  position: relative;
}
.todo__list-item-checkbox label {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.todo__list-item-checkbox label:before,
.todo__list-item-checkbox label:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.todo__list-item-checkbox label:before {
  left: 0;
  width: 14px;
  height: 14px;
  background: white;
  border: 1px solid dimgrey;
  border-radius: 3px;
}
.todo__list-item-checkbox label:after {
  left: 4px;
  width: 6px;
  height: 6px;
  background: white;
  border-radius: 2px;
  opacity: 0;
  visibility: hidden;
}
.todo__list-item-checkbox input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
}
.todo__list-item-checkbox input[type="checkbox"].checked + label:before {
  background: seagreen;
}
.todo__list-item-checkbox input[type="checkbox"].checked + label:after {
  opacity: 1;
  visibility: visible;
}
.todo__list-item-text input {
  width: 100%;
}
.todo__list-item-text input.error {
  border-color: darkred;
}
.todo__list-item-actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column-gap: 10px;
}
.todo__list-item-done input[type="checkbox"] {
  opacity: 0;
  visibility: hidden;
}
.todo__list-item-done input[type="checkbox"].checked + label:before {
  background: dimgrey;
}
.todo__list-item-done .todo__list-item-text {
  text-decoration: line-through;
  color: darkgrey;
}
.todo__empty {
  margin: 0;
  color: grey;
}
.todo__new {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  grid-column-gap: 15px;
  padding-top: 30px;
  border-top: 1px solid lightgrey;
}
.todo__new input {
  width: 100%;
}
.search {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 20px;
}
.search__input input {
  width: 100%;
}
.search__articles {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.search__articles-item {
  display: grid;
  grid-template-columns: 300px auto;
  align-items: center;
  grid-column-gap: 10px;
}
.search__articles-img img {
  max-width: 100%;
}
.search__articles-body {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
}
.search__articles-date {
  font-size: 14px;
  color: darkgrey;
}
.search__articles-title {
  font-size: 18px;
  font-weight: 600;
  color: royalblue;
  transition: color 0.3s;
}
.search__articles-title:hover {
  color: dodgerblue;
}
.search__articles-block {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 15px;
}
.search__articles-block .search__articles-item {
  grid-template-columns: 1fr;
}
.search__views {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column-gap: 10px;
  padding: 10px;
  background-color: skyblue;
}
.search__views-button {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: white;
  border: none;
  transition: all 0.3s;
}
.search__views-button:hover,
.search__views-button.active {
  background-color: royalblue;
}
.search__views-button:hover i,
.search__views-button.active i {
  background: white;
}
.search__views-button i {
  position: absolute;
  background: royalblue;
  transition: all 0.3s;
}
.search__views-button-list i {
  left: 50%;
  width: 20px;
  height: 3px;
  transform: translate(-50%, -50%);
}
.search__views-button-list i:nth-child(1) {
  top: calc(50% - 7px);
}
.search__views-button-list i:nth-child(2) {
  top: 50%;
}
.search__views-button-list i:nth-child(3) {
  top: calc(50% + 7px);
}
.search__views-button-block i {
  width: 7px;
  height: 7px;
  transform: translate(-50%, -50%);
}
.search__views-button-block i:nth-child(1) {
  top: calc(50% - 6px);
  left: calc(50% - 6px);
}
.search__views-button-block i:nth-child(2) {
  top: calc(50% - 6px);
  left: calc(50% + 6px);
}
.search__views-button-block i:nth-child(3) {
  top: calc(50% + 6px);
  left: calc(50% + 6px);
}
.search__views-button-block i:nth-child(4) {
  top: calc(50% + 6px);
  left: calc(50% - 6px);
}
.checkout {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 10px;
  margin: 20px 0;
  font-size: 18px;
  line-height: 24px;
}
.checkout__list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 5px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.checkout__list-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px 15px 45px;
  cursor: pointer;
  transition: all 0.3s;
}
.checkout__list-item:before,
.checkout__list-item:after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
}
.checkout__list-item:before {
  left: 10px;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid lightgrey;
}
.checkout__list-item:after {
  left: 15px;
  width: 10px;
  height: 10px;
  background-color: mediumseagreen;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
.checkout__list-item:nth-child(odd) {
  background-color: aliceblue;
}
.checkout__list-item:hover,
.checkout__list-item.active {
  background-color: lightblue;
}
.checkout__list-item:hover:after,
.checkout__list-item.active:after {
  opacity: 1;
  visibility: visible;
}
.checkout__list-item.active {
  color: white;
  background-color: mediumseagreen;
}
.checkout__list-item-price:before {
  content: '$';
}
.checkout__total {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 5px;
  border-top: 1px solid darkgrey;
  font-weight: bold;
}
.checkout__total-value:before {
  content: '$';
}
.checkout__total-value-old {
  color: lightgrey;
  text-decoration: line-through;
}
.checkout__total-value-box {
  display: flex;
  grid-column-gap: 10px;
}
.checkout__promo {
  display: flex;
  justify-content: flex-end;
}
.checkout__promo-inner {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-gap: 10px;
  padding: 8px 20px 8px 15px;
  font-size: 14px;
  line-height: 1;
  color: white;
  background-color: orange;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
}
.checkout__promo-terms {
  margin-top: 20px;
  font-size: 10px;
  color: darkgrey;
}
/*# sourceMappingURL=style.css.map */